@charset "utf-8";
/* CSS Document */

dropdown{
	padding-bottom: 30px;
} 
button{
	margin-right:10px;
}


pagination{
	align-content: center;
	margin-left: auto;
	padding-top: 15px;
}
